*.o
*.json
venv/
*.lastcodeanalysissucceeded
*.log
*.obj
*.pdb
*.codeanalysisast
*.deps
*.cache
*.bin
.vscode/
*/__pycache__
*.pyc
*.exp
*.lib
*.exe
doc/Reports/*
doc/Requirements.docx
bin/*
src/CUDA/.vs/
src/CUDA/x64
*.vcxproj*
*.sln
*.vs/
*Debug/
*.csv
*.test
*.pdf
*.dat
sim_*
MR_LBM/*.dat
LDC/*
OUTPUT/*
CYLINDER/*
JET_FLOW/*
MR_LBM/OUTPUT/*
MR_LBM/CYLINDER/*
MR_LBM/JET_FLOW/*
MR_LBM/src/OUTPUT/*
MR_LBM/src/CYLINDER/*
MR_LBM/src/JET_FLOW/*